In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [5]:
ml_players_data = pd.read_csv('ML_players.csv')
player_details_data = pd.read_csv('Player_details.csv')

In [18]:
player_details_data.head(231)

,Unnamed: 0,Nationality,Birth_date,Status,Laner,Earnings
0,0,Brunei,"April 11, 1997 (age 25)",Inactive,Gold Laner,"$70,849"
1,1,Cambodia,NaN,Active,Roamer,"$6,399"
2,2,Cambodia,NaN,Active,EXP Laner,"$8,473"
3,3,Cambodia,NaN,Active,NaN,"$8,933"
4,4,Cambodia,NaN,Active,Roamer,"$12,475"
...,...,...,...,...,...,...
226,226,Malaysia,NaN,Active,Mid LanerRoamer,"$7,976"
227,227,Malaysia,NaN,Active,Roamer,"$1,080"
228,228,Malaysia,"July 7, 1997 (age 25)",Retired,NaN,"$6,320"
229,229,South Korea,"June 9, 1992 (age 30)",Active,Coach,"$1,140"
230,230,Malaysia,NaN,Retired,NaN,"$6,402"

In [16]:
player_details_data['Earnings'][230] == np.NAN

False